.message {
    background: none;
    min-width: 50px;
    max-width: 500px;
    text-align: start;
    margin-left: 50%;
    margin-bottom: 20px;

}


.imageAndText {

}

.imageAndText img {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    float: right;

}

.text {


}


.text:after {

}

.name {
    font-weight: bold;
    background: #f2f4f8;
    max-width: 400px;
    border-radius: 10px 10px 0 0;
    padding-left: 5px;
    box-shadow: 3px 5px 3px #e7e5e5;
}

.messageText {
    white-space: pre-wrap;
    background: #f2f4f8;
    width: 400px;
    padding: 10px;
    box-shadow: 3px 5px 3px #e7e5e5;
}

.time {
    font-weight: bold;
    background: #f2f4f8;
    padding: 10px;
    border-radius: 0 0 10px 10px;
    max-width: 400px;
    box-shadow: 3px 5px 3px #e7e5e5;
}


