.message {
    background-color: #02f5f5;
    border-radius: 15px;
    margin: 10px;
}


.imageAndText {

}


.imageAndText img {
    max-width: 60px;
    margin: 10px;
}

.text {
    padding-left: 10px
}


.text:after {

}

.name {

}

.messageText {

}

.time {
    padding-left: 10px
}

