.buttonsContainer {
    display: flex;
}

.responseContainer {

    display: flex;
    align-items: center;
}

.imageContainer {
margin: 50px;
}

.image {
    max-width: 350px;
    max-height: 350px;
}

.textContainer{
    align-items: center;
}

.code {
    font-size: 26px;
}

.text {

}
.info {

}