.stand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.checkboxes {
    display: flex;
    flex-direction: column;
    gap: 36px;
}


.superInput {
    outline: none;

    width: 350px;
    height: 40px;

    font-size: 20px;
    padding: 5px;

    border-radius: 5px;
    border: 1px solid #a19f9f;
}
