.friendMessage {
    background-color: #e1e2f4;
    border-radius: 15px;
    margin: 10px;
    max-width: 50%;
    min-width: 80px;
}

.friendImageAndText {

}

.friendImageAndText img {
    border-radius: 50%;
    width: 60px;
    margin: 10px;
}

.friendText {
    padding-left: 10px
}

.friendText:after {

}

.friendName {

}

.friendMessageText {

}


.friendTime {
    padding-left: 10px
}
