.friendMessage {
    max-width: 810px;
    margin-left: 30px;
    min-height: 100px;
}

.friendImageAndText {
    width: 800px;

}

.friendImageAndText img {
    max-width: 60px;
    border-radius: 50%;
    float: left;
}

.friendText {

    min-width: 80px;
    max-width: 650px;
    margin-left: 20px;


    background-color: #f3f5f9;
    border-radius: 15px;

    padding: 10px;
    box-shadow: 0 3px 5px 3px #e7e5e5;
    display: inline-block;


}

.friendText:after {
    content: "";
    clear: both;
    display: table;

}

.friendName {
    font-weight: bold;
}

.friendMessageText {


}


.friendTime {
    margin-top: 5px;
    margin-left: 5px;
    font-weight: bold;
}
