.friendMessage {
    margin-left: 80px;
    max-width: 550px;
    min-width: 50px;



}

.friendImageAndText {

}

.friendImageAndText img {
   float: left;
    width: 70px;
    height: 70px;
    border-radius: 50%;
}


.friendText {
    background-color: #f3f5f9;
    margin-left: 80px;
    border-radius: 10px 10px 0 0;
    padding: 3px;

    box-shadow: 3px 5px 3px #e7e5e5;
}

.friendText:after {
    margin-left: 30px;
}

.friendName {
    font-weight: bold;
}

.friendMessageText {
    white-space: pre-wrap;
}

.friendTime {
    background-color: #f3f5f9;
    font-weight: bold;
    margin-left: 80px;
    border-radius: 0 0 10px 10px;
    padding: 3px;
    box-shadow: 3px 5px 3px #e7e5e5;
}
